<nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{link.label}}</a>
</nav>
<!-- <nav class="navbar">
  <div class="navbar-left">
    <a mat-tab-link [routerLink]="'./add-course'" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"
      class="navbar-button">
      +</a>
    <a mat-tab-link [routerLink]="'./all-courses'" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"
      class="navbar-button">
      All Courses</a>
  </div>

  <div class="navbar-right">
    <a mat-tab-link [routerLink]="'./login'" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"
      class="navbar-button"  >
      LOG IN</a>
      <a mat-tab-link [routerLink]="'./register'" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"
      class="navbar-button">
      SIGN UP</a>
  </div>
</nav>
<br> -->

<router-outlet></router-outlet>

